<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password saver</title>
</head>
<body>
<h2>Did you forget your password?</h2>

<form action="/getUserPassword" method="get">
    <label for="loggedUserName">User Name:</label>
    <input type="text" name="name" id="loggedUserName" required>

    <button type="submit">Get Password</button>
</form>

<div id="userPasswordResult">
    <label for="userPassword">Password:</label>
    <input type="text" id="userPassword" readonly th:value="${userPassword}">
</div>

<p>Go back <a href="/">Click here</a></p>
</body>
</html>
