
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password saver</title>
</head>
<body>
<h2>Did you forgot your password?</h2>

<form action="/processForm" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="password">Enter Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Submit</button>
</form>
</body>
</html>




