<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Password saver</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Did you forget your password?</h2>-->

<!--<form action="/getUserPassword" method="post" th:object="${userForm}">-->
<!--    <label for="loggedUserName">User Name:</label>-->
<!--    <input type="text" th:field="*{name}" id="loggedUserName">-->

<!--    <button type="submit">Get Password</button>-->
<!--</form>-->

<!--<div id="loggedInUsers">-->
<!--    <label for="loggedUsers">Logged-in Users:</label>-->
<!--    <textarea id="loggedUsers" rows="4" cols="50" readonly th:with="userPasswords=${users.![password]}">-->
<!--        <th:block th:text="${#strings.join(userPasswords, '\n')}"></th:block>-->
<!--    </textarea>-->
<!--</div>-->


<!--</body>-->
<!--</html>-->