<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password saver</title>
</head>
<body>
<h2>Did you forget your password?</h2>

<form action="/getUserPassword" method="post" th:object="${userForm}">
    <label for="loggedUserName">User Name:</label>
    <input type="text" th:field="*{name}" id="loggedUserName">

    <button type="submit">Get Password</button>
</form>

<label for="loggedUserPassword">Password:</label>
<input type="text" id="loggedUserPassword" th:readonly="${userForm.password != null}" th:value="${userForm.password}" readonly>

</body>
</html>